{% extends "myapp/base.html" %}
{% block content %}
<div class="jumbotron" style="background-color: #34495e;border-style:dashed;">
    <div class="container">
        <main role="main" class="inner cover">
            <h2>Login To Your Account</h2>
            <br>
            <form action="#" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" class="form-control" />
                </div>
                <button type="submit" class="btn btn-light">Login</button> 
                {% if incorrect %}
                    <hr>
                    <b class="text-danger">Giriş bilgileri yanlış.</b>
                {% endif %}
            </form>
        </main>
    </div>
</div>

{% endblock content %}
